.wpaa-chat-popup {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 350px;
    z-index: 9998;
    font-family: inherit;
    color: inherit;
    background: inherit;
    background: #fff;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.wpaa-chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: unset;
    background: darkblue;
    color: white;
    font-size: inherit;
}

.wpaa-chat-close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.wpaa-chat-history {
    height: 350px;
    overflow-y: auto;
    padding: 10px;
}

#wpaa-chat-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    border: 1px dotted black;

    color: inherit;
}

#wpaa-chat-send-button {
    width: 100%;
    padding: 10px;
    font-size: inherit;
    border: none;
    cursor: pointer;
    color: white;
    background: darkblue;
    border-radius: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wpaa-chat-send-button:hover {
    background-color: #005d87;
}

/* User Message Styles */
.wpaa-chat-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.wpaa-chat-user-header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.wpaa-chat-user-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #0056b3;
}

.wpaa-chat-user-name-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.wpaa-chat-user-name {
    color: #2c3e50;
    font-size: 14px;
    font-weight: 600;
}

.wpaa-chat-user-time {
    color: #95a5a6;
    font-size: 12px;
    margin-left: auto;
}

.wpaa-chat-user-message {
    font-size: 14px;
    background: rgba(30, 144, 255, 0.8);
    color: #ffffff;
    border-radius: 18px 18px 18px 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 14px 18px;
    max-width: 80%;
    margin-top: 8px;
    line-height: 1.5;
}

/* Agent Message Styles */
.wpaa-chat-agent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 16px;
}

.wpaa-chat-agent-header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    flex-direction: row-reverse;
}

.wpaa-chat-agent-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #34495e;
}

.wpaa-chat-agent-name-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.wpaa-chat-agent-name {
    color: #34495e;
    font-size: 14px;
    font-weight: 600;
}

.wpaa-chat-agent-time {
    color: #95a5a6;
    font-size: 12px;
    margin-right: auto;
}

.wpaa-chat-agent-message {
    font-size: 14px;
    background: rgba(61, 86, 111, 0.8);
    color: #ffffff;
    border-radius: 18px 18px 4px 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 14px 18px;
    max-width: 80%;
    margin-top: 8px;
    line-height: 1.5;
}

.wpaa-chat-agent-message.loading {
    width: 110px;
}

.wpaa-chat-agent-message.error {
    color: red;
}

.wpaa-chat-input-container textarea {
    height: 52px;
    min-height: 52px !important;
    max-height: 150px !important;
    resize: none !important; 
    overflow-y: auto !important;
}

/* Chat Icon Styles */
.wpaa-chat-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    color: inherit;
    box-shadow: none;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background: navy;
}

.wpaa-chat-icon:hover {
    transform: scale(1.05);
}

.wpaa-chat-icon svg {
    width: 25px;
    height: 25px;
    color: white;
}