.wpaa-chat-popup {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 350px;
    
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9998;
    transition: all 0.3s ease;
}

.wpaa-chat-header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #0073aa;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.wpaa-chat-close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.wpaa-chat-history {
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#wpaa-chat-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
}

#wpaa-chat-send-button {
    width: 100%;
    padding: 15px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#wpaa-chat-send-button:hover {
    background-color: #005d87;
}



.wpaa-chat-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.wpaa-chat-user-name {
    color: #333;
    font-size: 14px;
    text-align: left;
    margin-bottom: 2px;
    width: 100%;
}

.wpaa-chat-user-message {
    color: black;
    font-size: 14px;
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
}

.wpaa-chat-agent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.wpaa-chat-agent-name {
    color: #0056b3;
    font-size: 14px;
    text-align: right;
    margin-bottom: 2px;
    width: 100%;
}

.wpaa-chat-agent-message {
    background-color: #f6f6f6;
    color: darkblue;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
}

.wpaa-chat-agent-message.loading {
    width: 80px;
}

.wpaa-chat-agent-message.error {
    color: red;
}

.wpaa-chat-input-container textarea {
    min-height: 30px !important;
    max-height: 150px !important;
    resize: none !important; 
    overflow-y: auto !important;
}

/* Chat Icon Styles */
.wpaa-chat-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease;
}

.wpaa-chat-icon:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.wpaa-chat-icon svg {
    width: 25px;
    height: 25px;
    color: white;
}